<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="btnAccountTransfer">
    <form th:action="@{/accounts/opening}" method="GET">
        <button type="submit" class="btn" th:href="@{/accounts/opening}">
                            <span class="glyphicon glyphicon-transfer" aria-hidden="true"
                                  style="max-height:100%;"></span>
        </button>
    </form>
</div>

<div th:fragment="btnDeleteAccount">
    <form th:action="@{/accounts/opening}" method="GET">
        <button type="submit" class="btn" id="btnDelete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                      style="max-height:100%;"></span>
        </button>
    </form>
</div>

</html>