<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navRegisterLogin">
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-header mr-auto">
            <a class="navbar-brand" th:href="@{/}">The Bank of Trust</a>
        </div>
        <div class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}"><i class="fa fa-user-plus"></i> Register</a>
            </li>
        </div>
        <div style="height:100%; width:2em; clear:both;"></div>
        <div class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in"></i> Login</a>
            </li>
        </div>
        <div style="height:100%; width:1em; clear:both;"></div>
    </nav>
</div>

<div th:fragment="navLogout">
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-header mr-auto">
            <a class="navbar-brand" th:href="@{/dashboard}">The Bank of Trust</a>
        </div>        <div class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/support}"><i class="fa fa-comments"></i> Support</a>
        </li>
    </div>
        <div style="height:100%; width:2em; clear:both;"></div>
        <div class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
        </div>
        <div style="height:100%; width:1em; clear:both;"></div>
    </nav>
</div>

<div th:fragment="navEmpty">
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-header mr-auto">
            <a class="navbar-brand" th:href="@{/}">The Bank of Trust</a>
        </div>
    </nav>
</div>



</html>