<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="accountTable">
    <table class="table table-hover" style="margin-top: 50px" th:if="${not #lists.isEmpty(accounts)}">
        <tr>
            <th>No</th>
            <th>IBAN</th>
            <th style="text-align: center;">Balance</th>
            <!--<th style="text-align: center;">Actions</th>-->
        </tr>
        <tr th:each="account, custStat : ${accounts}"
            th:onclick="'javascript:rowAccountClicked(\'' + ${account.id} + '\',);'"
            style="cursor: pointer">
            <td th:text="${custStat.count}">1</td>
            <td th:text="${account.iban}" style="text-align: right;">DE123456789</td>
            <td th:text="${#numbers.formatDecimal(account.balance/100, 1, 'DEFAULT', 2, 'DEFAULT')}"
                style="text-align: right;">1000
            </td>
        </tr>
    </table>

    <script>
        function rowAccountClicked(value, column) {
            location.href = "/accounts/" + value;
        }
    </script>
</div>

</html>