<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>Online Banking</title>
</head>
<body>
<div th:replace="fragments/header :: navLogout"/>

<h1>Welcome to The Bank of your Trust</h1>
<h3>Login Success</h3>
<p th:if="${username}">Your username is <span th:text="${username}"/></p>
<p>Today is <span th:text="${today}"/></p>
<p>Todo: Konten, ... </p>
<h3 th:if="${ #lists.isEmpty(accounts)}">There are no accounts yet.</h3>
<table class="table table-hover" th:if="${not #lists.isEmpty(accounts)}">
    <tr>
        <th>No</th>
        <th>IBAN</th>
        <th>Balance</th>
    </tr>
    <tr th:each="account, custStat : ${accounts}">
        <td th:text="${custStat.count}">1</td>
        <td th:text="${account.iban}">John</td>
        <td th:text="${account.balance}">Doe</td>
    </tr>
</table>

<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true" th:href="@{/accounts/opening}"></span> Apply for an account
</button>

</body>
</html>