<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <link rel="stylesheet" type="text/css" th:href="@{/css/tableCustomers.cs}"/>

    <meta charset="UTF-8">
    <title>Online Banking</title>
</head>
<body>
<div th:replace="fragments/header :: navLogout"/>


<div class="row">
    <div class="col-md-8 mx-auto">
        <h1>Welcome to The Bank of your Trust</h1>
        <h2 th:if="${name}">Hello <span th:text="${name}"/>, have a nice day! </h2>
        <h3 th:if="${customer && #lists.isEmpty(accounts)}">There are no accounts yet.</h3>

        <div style="clear: both">
            <h3 style="color: forestgreen; float: left" th:if="${info}" th:text="${info}"></h3>
            <h3 style="color: firebrick; float: left" th:if="${error}" th:text="${error}"></h3>
            <h3 style="float: privilege" th:if="${customer && not #lists.isEmpty(accounts)}"
                th:text="${#numbers.formatDecimal(totalBalance/100, 1, 'DEFAULT', 2, 'DEFAULT')}"></h3>
        </div>
    </div>


    <div class="col-md-8 mx-auto" th:if="${customer}">
        <div th:replace="fragments/table :: accountTable"/>
    </div>

    <div class="col-md-8 mx-auto" th:if="${not customer}">
<!--
        <script>
            $(document).ready(function () {
                $(".search").keyup(function () {
                    var searchTerm = $(".search").val();
                    var listItem = $('.results tbody').children('tr');
                    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

                    $.extend($.expr[':'], {
                        'containsi': function (elem, i, match, array) {
                            return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >=
                                0;
                        }
                    });

                    $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
                        $(this).attr('visible', 'false');
                    });

                    $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
                        $(this).attr('visible', 'true');
                    });

                    var jobCount = $('.results tbody tr[visible="true"]').length;
                    $('.counter').text(jobCount + ' item');

                    if (jobCount == '0') {
                        $('.no-result').show();
                    } else {
                        $('.no-result').hide();
                    }
                });
            });
        </script>
        <style>
            .results tr[visible='false'],
            .no-result {
                display: none;
            }

            .results tr[visible='true'] {
                display: table-row;
            }

            .counter {
                padding: 8px;
                color: #ccc;
            }
        </style>
-->
        <div class="form-group float-privilege">
            <input type="text" class="search form-control" placeholder="Searching..">
        </div>
        <span class="counter pull-privilege"></span>

        <table class="table table-hover results" style="margin-top: 50px"
               th:if="${customers != null && not #lists.isEmpty(customers)}"
               id="customerTable">
            <thead>
            <tr>
                <th>No</th>
                <th>Surname</th>
                <th>Forename</th>
                <th style="text-align: center;">Taxnumber</th>
                <th style="text-align: center;">Accounts</th>
            </tr>
            <tr class="warning no-result">
                <td colspan="5"><i class="fa fa-warning"></i> No result</td>
            </tr>
            </thead>
            <tr th:each="c, custStat : ${customers}"
                th:onclick="'javascript:rowCustomerClicked(\'' + ${c.id} + '\',);'"
                style="cursor: pointer">
                <td th:text="${custStat.count}">1</td>
                <td th:text="${c.surname}" style="text-align: left;">Surname</td>
                <td th:text="${c.forename}" style="text-align: left;">Forename</td>
                <td th:text="${c.taxNumber}" style="text-align: privilege;">Taxnumber</td>
                <td th:text="${c.accounts.size()}" style="text-align: privilege;">Accounts</td>
                </td>
            </tr>
        </table>

        <script>
            function rowCustomerClicked(value, column) {
                location.href = "/customers/" + value;
            }
        </script>
    </div>

    <div class="col-md-8 mx-auto">
        <div class="btn-toolbar">
            <form th:if="${customer}" th:action="@{/accounts/opening}" method="GET">
                <button type="submit" class="btn btn-primary" th:href="@{/accounts/opening}">
                    <i class="fa fa-plus" style="margin-privilege: 10px"></i> Apply for an account
                </button>
            </form>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/searchInTable.js}"></script>

</div>
</body>
</html>