<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <meta charset="UTF-8">
    <title>Account view</title>
</head>
<body>
<div th:replace="fragments/header :: navLogout"/>


<div class="row" style="max-width: 100%; margin-top: 20px;">
    <div class="col-md-8 mx-auto" style="max-width: 100%">
        <div class="row">
            <div class="col">
                <h2 th:if="${name}">Hello <span th:text="${name}"/>, have a nice day! </h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3 th:if="${account.getIban()}">Account IBAN: <span th:text="${account.getIban()}"/></h3>
                <h3 th:if="${ #lists.isEmpty(transfersPast) && #lists.isEmpty(transfersUpcoming)}" style="float: left">
                    There are no transfers for this account
                    yet.</h3>
                <h3 style="color: forestgreen;" th:if="${info}" th:text="${info}"></h3>
                <h3 style="color: firebrick; " th:if="${error}" th:text="${error}"></h3>
            </div>


            <h3 th:if="${account.getBalance() lt 0}" style="color: springgreen">
                <span th:text="${#numbers.formatDecimal(account.getBalance()/100, 1, 'DEFAULT', 2, 'DEFAULT')}">Betrag</span><span> €</span>
            </h3>
            <h3 th:if="${account.getBalance() ge 0}" style="color: red">
                <span th:text="${#numbers.formatDecimal(account.getBalance()/100, 1, 'DEFAULT', 2, 'DEFAULT')}">Betrag</span><span> €</span>
            </h3>

        </div>
    </div>

</div>


<div class="col-md-8 mx-auto" style="margin-top: 50px; "/>
<div class="btn-toolbar">
    <form th:action="@{/accounts/{accountId}/transfers/new(accountId=${account.id})}" method="GET">
        <button type="submit" class="btn btn-primary" th:name="action" th:value="transfer">
            <i class="fa fa-exchange" style="margin-right: 10px"></i>Transfer
        </button>
        <button type="submit" class="btn btn-secondary" th:name="action" th:value="mandate">
            <i class="fa fa-exchange" style="margin-right: 10px"></i>Mandate
        </button>
    </form>
</div>
</div>


<div class="col-md-8 mx-auto" style="margin-top: 30px; "
     th:if="${not #lists.isEmpty(transfersUpcoming)}">
    <h2>Upcoming Transactions</h2>
    <div th:replace="fragments/table :: transferTable(transfers=${transfersUpcoming})"></div>
</div>


<div class="col-md-8 mx-auto" style="margin-top: 30px; "
     th:if="${not #lists.isEmpty(transfersPast)}">
    <h2>Past Transactions</h2>
    <div th:replace="fragments/table :: transferTable(transfers=${transfersPast})"></div>
</div>


</body>
</html>