<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>Account view</title>
</head>
<body>
<div th:replace="fragments/header :: navLogout"/>


<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="row">
            <div class="col">
                <h1>Welcome to The Bank of your Trust</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 th:if="${name}">Hello <span th:text="${name}"/>, have a nice day! </h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3 th:if="${account.getIban()}">Account IBAN: <span th:text="${account.getIban()}"/></h3>
                <h3 th:if="${ #lists.isEmpty(transfers)}" style="float: left">There are no transfers for this account yet.</h3>
                <h3 style="color: forestgreen;" th:if="${info}" th:text="${info}"></h3>
                <h3 style="color: firebrick; " th:if="${error}" th:text="${error}"></h3>
            </div>
            <div class="col.auto">
                <h3 th:text="${#numbers.formatDecimal(account.getBalance()/100, 1, 'DEFAULT', 2, 'DEFAULT')}">100</h3>
            </div>
        </div>


        <div class="row">
            <form th:action="@{/accounts/{accountId}/transfers/new(accountId=${account.id})}" method="GET">
                <button type="submit" class="btn btn-secondary">
                            <span class="glyphicon glyphicon-transfer" aria-hidden="true"
                                  style="max-height:100%;"></span>
                </button>
            </form>

            <!-- todo nur bei employee notwendig (siehe requirements)
            <form  th:action="@{/accounts/{accountId}/delete(accountId=${account.id})}" method="get">
                <button type="submit" class="btn" id="btnDelete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                      style="max-height:100%;"></span>
                </button>
            </form>
            -->
        </div>

        <div class="row">
            <table class="table table-hover" style="margin-top: 50px" th:if="${not #lists.isEmpty(transfers)}">
                <tr>
                    <th>No</th>
                    <th style="text-align: center;">IBAN</th>
                    <th style="text-align: center;">Balance</th>
                    <!--<th style="text-align: center;">Actions</th>-->
                </tr>
                <tr th:each="transfer, custStat : ${transfers}"
                    style="cursor: pointer">
                    <td th:text="${custStat.count}">1</td>
                    <td th:text="${transfer.getId()}" style="text-align: right;">DE123456789</td>
                    <td th:text="${#numbers.formatDecimal(transfer.amount/100, 1, 'DEFAULT', 2, 'DEFAULT')}"
                        style="text-align: right;">1000
                    </td>
                    <!--
                    <td style="text-align: right;">
                        <div class="row align-items-center justify-content-center">

                            <div th:replace="fragments/buttons :: btnAccountTransfer"/>
                            <div style="width: 5px"></div>
                            <div th:replace="fragments/buttons :: btnDeleteAccount"/>
                        </div>
                    </td>
                    -->
                </tr>
            </table>
        </div>

    </div>
</div>



</body>
</html>